<!-- templates/partials/footer.html -->
{% load static %}


<!--footer-->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-12" style="text-align: left !important;">
                    <h3 style="text-align: center;">Funding</h3>
                    <p style="text-align: justify; font-size: 1.12em;">The author(s) acknowledge the support of the Biotechnology and Biological Sciences Research Council (BBSRC), 
                        part of UK Research and Innovation; this research was funded by the BBSRC 
                        Designing Future Wheat grant BB/P016855/1 and its constituent work packages(BBS/E/T/000PR9783 
                        (DFW WP4 Data Access and Analysis) BBS/E/T/000PR9784 (DFW WP2 Added value and resilience) BBS/E/T/000PR9785 (DFW WP1 Increased efficiency and sustainability), 
                        Cross Institute Strategic Programme Grant Delivering Sustainable Wheat BBX011003/1 and its 
                        constituent work packages BBS/E/ER/230003A (DSW WP1 Targeted Sustainability-Trait Discovery),
                         BBS/E/ER/230003B (DSW WP2 Delivering Resilience to Biotic Stress), 
                         BBS/E/ER/230003C (DSW WP4 Sustainable Data Frameworks for Wheat) and 
                         Core Capability Grants BB/CCG1720/1 and BB/CCG2220/1 and the work delivered via the
                          BBSRC National Capability in e‐Infrastructure (BBS/E/T/000PR9814) 
                        at the Earlham Institute by members of the e‐Infrastructure group.</p>
                </div>
            </div>
            <!-- First Row for Earlham Institute and Project Code -->
            <div class="row">
                <div class="footer-col col-md-6" style="text-align: left !important;">
                    <h3>Earlham Institute</h3>
                    <p>Norwich Research Park<br/>
                        Norwich<br/>
                        NR4 7UZ<br/>
                        UK</p>
                </div>
                <div class="footer-col col-md-6">
                    <h3>Project Code</h3>
                    <p>The project is fully open source and the source code is available on <a
                            href="https://github.com/TGAC?q=grassroots" target="_blank">GitHub</a>:</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="https://github.com/TGAC?q=grassroots"
                               target="_blank">
                                <i class="fab fa-fw fa-github"></i>
                            </a>
                        </li>
                        <!-- Example of additional social media. Uncomment and modify as needed.
                        <li class="list-inline-item">
                            <a class="btn-social btn-outline" href="#">
                                <i class="fa fa-fw fa-twitter"></i>
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    &copy; 2017 - {% now "Y" %} Brought to you by <a href="http://www.earlham.ac.uk/" target="_blank">Earlham
                    Institute</a>
                </div>
            </div>
        </div>
    </div>
</footer>


</body>
</html>

